[Unit]
Description=Match KDE colors to the current wallpaper
After=plasma-plasmashell.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=@EXEC_START@
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
